@using MudBlazor

@* Final CTA *@
<div class="final-cta-block py-32 text-center" style="background-color: #FAFAFA;">
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <MudText Typo="Typo.h2" Class="final-hero-title font-black site-dark-text mb-8">Plan Your Next Team Experience Today</MudText>
        <MudButton Variant="Variant.Filled" Href="/marketplace" Class="final-cta-btn py-4 px-8 shadow-sm site-dark-bg text-white font-medium rounded-lg" EndIcon="@Icons.Material.Filled.ArrowForward">Explore Experiences</MudButton>
    </MudContainer>
</div>
